{{#each owners as |owner|}}

<!-- template to display owner -->
<div class="owners-content" data-id="{{owner.id}}">
  <h4><strong>Name:</strong> {{owner.first_name}} + {{owner.last_name}}</h4>
  <h5><strong>ID:</strong> {{owner.id}}</h5>
  <h5><strong>Phone Number:</strong> {{owner.phone}}</h5>
  <br>
</div>

{{/each}}
