{{#each pets as |pet|}}

<!-- template to display pet -->
<div class="pets-content" data-id="{{pet.id}}">
  <h4><strong>Name:</strong> {{pet.name}}</h4>
  <h5><strong>ID:</strong> {{pet.id}}</h5>
  <h5><strong>Species:</strong> {{pet.species}}</h5>
  <h5><strong>Age:</strong> {{pet.age}}</h5>
  <h5><strong>Gender:</strong> {{pet.gender}}</h5>
  <h5><strong>Color:</strong> {{pet.color}}</h5>
  <!-- <h5><strong>Owner:</strong> {{pet.owner}}</h5> -->
  {{#pet.owner}}
    <h5><strong>Owner:</strong> {{name}}</h5>
  {{/pet.owner}}
  <br>
</div>

{{/each}}
